@mixin heading-styles {
  margin-top: 145px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  @include heading-styles;
}


body{
  background-image: url(https://img.freepik.com/fotos-premium/fundo-gradiente-preto-fundo-desfocado-preto-papel-de-parede-gradiente-preto-pastel_613001-6378.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

p{
  font-size: 25px;
  a{
    font-size: 20px;
  }
}

.login-button{
  background-color: rgb(71, 71, 77);
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s backgrond-color;
}

.login-button:hover {
   background-color: rgb(233, 233, 238);
}



